language: node_js
node_js:
  - '0.8'
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-devtools-theme' ]; then cd .. && eval "mv $currentfolder generator-devtools-theme" && cd generator-devtools-theme; fi

